body{
    background-color: rgba(13,13,16, .95);
    height: 100vh; /* This makes the body take up the full height of the viewport */
    margin: 0; /* Ensure no default margin is affecting the centering */
    position: relative;
}