.spotify-user {
    display: flex;
    align-items: center;
    
}

.profile-picture {
    
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    border-radius: 50%; /* Make the image round */
    margin-right: 10px; /* Add space between image and text */
}

.profile-info .name {
    font-size: 16px; /* Adjust font size */
    color: #ffffff; /* Text color */
}