header *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 1000; /* Ensure the navbar is on top of other content */
}

header li{
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}



.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-logo{
    color: white;
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.nav-link {
    transition: 0.7s ease;
    background-image: linear-gradient(90deg, #9b4ac9 114.08%, #6b2b8e 32%, #6b2e8b 68.41%, #5e297b -4%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;
}

.nav-link:hover {
    color: white;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;

}


@media (max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item, .nav-item-spotify{
        margin: 16px 0;
    }
    
    .nav-menu.active{
        left: 0;

    }
    


}

#spotify-logo a i {
    color: #1DB954; /* Ensure the color is applied to the icon */
    font-size: 32px; /* Ensure the font size is applied to the icon */
}