# Virtual environment
venv/
.venv/

# Environment variables
.env
.env.*
.ebextensions/01_environment.config


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so


