/* Import component styles */
@import url(./components/header/header.css);

/* Import base styles */
@import url(./global/base.css);



.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    padding: 20px; 
    box-sizing: border-box;
    
}

.contact-text {
    
    padding-bottom: 17em;
    color: white;
    flex: 1; 
    margin-right: 20px; 
}

.contact-heading {
    font-size: 2em;
    font-family: "Orbitron", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;  
    line-height: 1.4;

}

.contact-subtext {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;

}

.contact-form {
    flex: 1;
    
}


.form {
    display: flex;
    flex-direction: column;
}

.input-field {
    margin-bottom: 15px; 
}

.input-field input, .input-field textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    resize: vertical; 
    height: 100px; 
}

.send-button {
    text-align: center; 
}

.send-button .send {
    width: 100%;
    padding: .75em 1em;
    background-color: #101010;
    color: white;
    font-size: 1.25em;
    font-weight: 600;
    font-family: "sofia-pro", sans-serif;
    border: none;
}

.send-button .send:hover {
    background: linear-gradient(90deg, #8529ce -4%, #54248c 32%, #54287d 68.41%, #462966 114.08%);
    box-shadow: 8px 8px 10px #462966;
    transition: 0.3s ease;
}
