/* Import component styles */
@import url(./components/header/header.css);
@import url(./components/userPlaylistInfo/profile.css);
@import url(./components/userPlaylistInfo/playlistName.css);
@import url(./components/footer/footer.css);
@import url(./components/trackItem/trackItem.css);
@import url(./components/loaderEffect/loaderEffect.css);
@import url(./components/tooltip/tooltip.css);


:root{
    --background-color: rgba(13,13,16, .95);
    --border-color: rgb(255, 255, 255, 0.1);
}

body {
    background-color: var(--background-color);
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}




.container {
    
    border-top: 70px solid transparent;
    display: grid;
    grid-template-rows: 10vh 70vh 5vh;
    grid-template-columns: 1fr 1fr;
    height: 100vh;

}

.container > .section-footer-functionality { 

    border-top: 2px solid var(--border-color);
    grid-row: 3 / 4;
    grid-column: 1 / 3;

}

.container > .section-song-functionality {
    position: relative;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    z-index: 1;
    display: grid;
    grid-template-rows: 10vh 70vh;
    grid-template-columns: 1fr 1fr;
    

    
}

.section-song-functionality > .section-search-results {
    
    border-left: 2px solid var(--border-color);
    z-index: 1;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    flex: 1;
    overflow: auto; /* Allow scrolling */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 10px; /* Rounded corners */
    margin: 10px; /* Add margin to adjust the size */
    


}

.section-song-functionality > .section-your-playlist {
    
    border-left: 2px solid var(--border-color);
    z-index: 1;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: 30vh;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    border-radius: 10px; /* Rounded corners */
    margin: 10px; /* Add margin to adjust the size */
}

.section-footer-functionality > .section-search-results,
.section-footer-functionality > .section-your-playlist {
    scrollbar-width: thin;
    scrollbar-color: #9b4ac9 #212121;
}


.section-song-functionality > .section-search-results::-webkit-scrollbar,
.section-song-functionality > .section-your-playlist::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.section-song-functionality > .section-search-results::-webkit-scrollbar-thumb,
.section-song-functionality > .section-your-playlist::-webkit-scrollbar-thumb {
    background-color: #9b4ac9; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.section-song-functionality > .section-search-results::-webkit-scrollbar-track,
.section-song-functionality > .section-your-playlist::-webkit-scrollbar-track {
    background-color: #212121; /* Color of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

#your-track-list {
    
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.section-song-functionality > .section-your-playlist > .section-playlist-info {
    display: grid;
    border-bottom: 2px solid var(--border-color);
    grid-template-columns: 18vw 1fr;
    align-items: center; /* Center vertically */

}

.section-song-functionality > .section-your-playlist > .section-playlist-info > .section-movie-poster-container {
    
    
    display: flex;
    justify-content: center;

}

#movie-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Use a percentage width to allow flexibility */
    height: auto; /* Allow the height to adjust based on the image */
    max-width: 200px; /* Set a maximum width for the container */
    max-height: 200px; /* Set a maximum height for the container */
    overflow: hidden; /* Ensure the image stays within the container */
}

#movie-image-container img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain the image's aspect ratio */
    border-radius: 15px; /* Increase the border-radius for more rounded corners */
}


.section-song-functionality > .section-your-playlist > .section-playlist-info > .playlist-info-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start;
    align-items: flex-start;
}

.section-song-functionality > .section-your-playlist > .section-playlist-info > .playlist-info-container > .spotify-user {
    color: white; /* Adjust text color */
    font-size: 1.2rem; /* Adjust font size */
    
}















/* Search Bar */
.section-song-search {
    position: relative;
}

.section-song-search > .search-bar form {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    
    width: 100%; /* Expanded width */
    height: 50px;
    background-color: var(--background-color);
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid var(--background-color);
    padding: 5px;
    cursor: default; /* Reset cursor */
}

.section-song-search > .search-bar ::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

.section-song-search > .search-bar input {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: white;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: block; /* Always display the input field */
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.section-song-search .search-bar form i.fa-solid.fa-magnifying-glass {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    
    background-image: linear-gradient(90deg, #9b4ac9 114.08%, #6b2b8e 32%, #6b2e8b 68.41%, #5e297b -4%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-decoration: none;

    text-align: center;
    font-size: 1.2em;
    transform: all 1s;
}



.section-song-search > .search-bar form i.fa-solid.fa-magnifying-glass {
    background-image: linear-gradient(90deg, #9b4ac9 114.08%, #6b2b8e 32%, #6b2e8b 68.41%, #5e297b -4%); /* Keep background unchanged */
}


.section-song-search > .search-bar input::-webkit-clear-button,
.section-song-search > .search-bar input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}


.section-song-search > .search-bar input::-webkit-search-cancel-button,
.section-song-search > .search-bar input::-webkit-search-decoration {
    display: none;
}











/* Track list */
#track-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.track-number-container {
    display: flex;
    align-items: center;
}





@media (max-width: 768px) {

    /* Prevent horizontal scrolling */
    body {
        overflow-x: hidden; 
    }

    /* Adjust container layout */
    .container {
        
        grid-template-columns: 1fr; /* Single column layout */
        width: 100vw; /* Ensure full viewport width */
        box-sizing: border-box; /* Include padding and border in width */
    }

    .container > .section-footer-functionality {
        
        border-top: 1px solid var(--border-color); /* Thinner border on smaller screens */
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }

    .container > .section-song-functionality {
        
        grid-row: 1 / 3;
        grid-column: 1 / 2;
        display: flex;
        flex-direction: column;
        width: 100%; /* Ensure no overflow */
        box-sizing: border-box; /* Include padding/border in width */
    }

    /* Adjust the order to place playlist info on top */
    .section-song-functionality > .section-your-playlist > .section-playlist-info {
        gap: 75px;
        
    }

    .section-song-functionality > .section-your-playlist {
        overflow-y: auto;
        height: 300px;
        border-left: none;
        overflow-x: hidden;
    }

    .section-song-functionality > .section-search-results {
        
        border-left: none;
        height: 200px; /* Set a fixed height */
        overflow-y: auto; /* Allow vertical scrolling if content overflows */
        order: 2; /* Place below playlist info and your playlist */
    }

    

    #your-track-list,
    #track-list {
        gap: 5px; /* Reduce gap between items */
    }

    .track-number-container {
        font-size: 0.9rem; /* Adjust font size */
    }

    #movie-image-container {
        
        height: 100%;
        width: 100%;
    }

    #movie-image-container > img {
        height: 100%;
        width: 100%;

    }



    .section-song-functionality > .section-your-playlist > .section-playlist-info > .playlist-info-container {
       
        display: flex;
        flex-direction: column; /* Stack children vertically */
        justify-content: flex-start;
        align-items: flex-start;
    }



    .section-song-functionality > .section-your-playlist > .section-playlist-info > .section-movie-poster-container {
        padding-left: 2px;
        padding-right: 2px;
        height: 150px;
        width: 125px;
        
        display: flex;
        justify-content: center;
    
    }

    
}



