/* Import component styles */
@import url(./components/header/header.css);

/* Import base styles */
@import url(./global/base.css);


.welcome-container {
    position: absolute;
    top: calc(50% + 35px); /* Adjusted to consider the height of the navbar */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcome-text{
    margin-bottom: 32px;
    font-family: "Orbitron", sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 500;
    
}

.more-welcome-text{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.login-button{
    margin-top: 20px;
}

.spotify-button{
    border: none;
    cursor: pointer;
    border-radius: 24px;
    margin-top: 64px;
    margin-bottom: 64px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background: linear-gradient(90deg, #8529ce -4%, #54248c 32%, #54287d 68.41%, #462966 114.08%);
}

.spotify-button:hover{

    box-shadow: 8px 8px 10px #462966;
    transition: 0.3s ease;

}


@media (max-width: 768px) {
    .welcome-container {
        top: calc(50% + 20px); /* Adjust top position for smaller screens */
    }

    .welcome-text {
        font-size: 30px; /* Adjust font size for smaller screens */
        margin-bottom: 20px; /* Adjust margin for smaller screens */
    }

    .more-welcome-text {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .login-button {
        margin-top: 10px; /* Adjust margin for smaller screens */
    }

    .spotify-button {
        font-size: 12px; /* Adjust font size for smaller screens */
        padding: 10px 12px; /* Adjust padding for smaller screens */
        margin-top: 30px; /* Adjust margin for smaller screens */
        margin-bottom: 30px; /* Adjust margin for smaller screens */
    }
}
